@charset "UTF-8";

	header{
		background-color: #1A1A1AE6;
		height: 56px;
		width: 100%;
		position: fixed;
		top: 0;
		padding: 0;
	}
	
	#header_top{
		position: absolute;
		top:0;
	
	}
	
	#header_container{
/*background-color: orange;	*/
		height: 50px;
		width: 85%;
		margin: 2px auto 0;
	}
	
	#header_logo{
		width: 8%;
		height: 50px;
/*background-color: pink;*/
		position: relative;
		display: inline-block;
		overflow: hidden;
		float: left;
	}
	
	#header_logo img{
		width: auto;
		height: 100%;
		position: absolute;
		top: 7px;
	}
	
	#header_nav{
		width: 50%;
		height: 50px;
/*background-color: green;*/
		display: inline-block;
		float: left;
	
	}
/* for nav menus only */
	#header_nav>ul>li, .tray_logo{
		float: left;
		list-style: none;
		height: 50px;
		width: auto;
		display: inline-block;
		line-height: 50px;
		margin: 0 15px;
	}
	
/* overrides nav menu style for dropdown items */	
	.dropdown-menu>li{
		height: auto;
		line-height: 25px;
	}
	
	.nav_menu, .tray_logo{
		color: #CCCCCC;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.5rem;
		text-align: left;
	}
	


	.nav_menu:visited, .tray_logo:visited{
		color: #CCCCCC;
		text-decoration: none;	
	}
	
	.nav_menu:focus, .tray_logo:focus{
		color: #CCCCCC;
		text-decoration: none;	
	}	
	.nav_menu:hover, .tray_logo:hover{
		color:white;
		text-decoration: none;
		
	}	
	.dropdown-menu li{
		margin: 0;
	
	}	
	
	.nav_signin{
		color: #DE8AE5;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.5rem;
		text-align: left;	
	}
	.nav_signin:visited{
		color: #DE8AE5;
		text-decoration: none; 
	}	
	
	.nav_signin:focus{
		color: #DE8AE5;
		text-decoration: none;
	}	
	
	.nav_signin:hover{ 
		color: #F9B2FF;
		text-decoration: none;
	}
		
/* header nav menu on the right side */	
	#header_tray{
		width: 15%;
		height: 50px;
		display: inline-block;
		float: right;
	}

	
	#tray_logo img{
		width: auto;
		height: 100%;
		position: absolute;
		top: 7px;
	}	