@charset "UTF-8";

	header{
		background-color: #1A1A1AE6;
		height: 56px;
		width: 100%;
		position: fixed;
		top: 0;
		padding: 0;
	}
	
	#header_top{
		position: absolute;
		top:0;
	
	}
	
	#header_container{
/*background-color: orange;	*/
		height: 50px;
		width: 85%;
		margin: 2px auto 0;
	}
	
	#header_logo{
		width: 8%;
		height: 50px;
/*background-color: pink;*/
		position: relative;
		display: inline-block;
		overflow: hidden;
		float: left;
	}
	
	#header_logo img{
		width: auto;
		height: 100%;
		position: absolute;
		top: 7px;
	}
	
	#header_nav{
		width: 50%;
		height: 50px;
/*background-color: green;*/
		display: inline-block;
		float: left;
	
	}
	
	#header_nav li{
		float: left;
		list-style: none;
		height: 50px;
		width: auto;
		display: inline-block;
		line-height: 50px;
		border: 1px black solid;
		margin: 0 15px;
	}
	
	.nav_menu{
		color: #CCCCCC;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.5rem;
		text-align: left;
	}
	
	.nav_menu:hover{
		color:white;
		text-decoration: none;
	}
	
	.nav_signin{
		color: #DE8AE5;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.5rem;
		text-align: left;	
	}
	
	.nav_signin:hover{ 
		color: #F9B2FF;
		text-decoration: none;
	}
	
	#header_sub{
background-color: green;
		width: 15%;
		height: 50px;
		display: inline-block;
		float: right;
	}
